
          
         

          
          <div class="sidebar-nav">
            <nav class="navbar navbar-dark bg-secondary fixed-top">
              
              
                <div class="container-fluid">
                  
                  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"  *ngIf="isLoggedIn() && showHead" >
                    <span class="navbar-toggler-icon" ></span>
                  </button>
  
                    <div class="image">
                      <img src="assets/image/image002.png" style="width: auto; height: 60px;"> 
                    </div>
                    
                  
                    
                    
  
                    <div class="icon">
                      <button class="btn btn-lg" (click)="login()" *ngIf="!isLoggedIn()" data-bs-toggle="dropdown" aria-expanded="false" ><i class="bi bi-box-arrow-in-right"></i></button>
                    
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                        *ngIf="isLoggedIn()">
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" style="right: 0; left: auto;">
                         
                          
                        <p id="div1" style="margin-left: 10px">JK Technosoft Ltd</p>
                        <button class="btn btn-lg" id="div2"  (click)="logout()" routerLink="/def"><i class="bi bi-box-arrow-left"></i></button>  
                    <div class="container">
                        <div calss="left">
                          <img class="icon" src="assets/image/login icon.jpg">
                        </div>
                        <div class="right">
                          <label class="pro" style="font-size:15px ; font-weight:bold"><a class="dropdown-item" href="#"></a>{{profile.username}}</label>
                          <label class="profile"><a class="dropdown-item" href="#"></a>{{profile.name}}</label>
                          
                        </div>
                    </div>
                        </ul>
                      </div>
                    
                    </div>
                   
                   
                    <div class="offcanvas offcanvas-start" tabindex="1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" aria-label="Close" sidebar-backdrop="false" data-bs-dismiss="offcanvas" >
                      <div class="offcanvas-body">
                            <ul class="navbar-nav"  data-bs-dismiss="container-fluid" >
                                <li><a routerLink="dashboard"><i class="bi bi-calendar3"></i> <span class="item-text">Dashboard</span></a></li>
                                <li><a routerLink="employee"><i class="bi bi-people"></i> <span class="item-text">Employee details</span></a></li>
                                <li ><a  routerLink="card"><i class="bi bi-book"></i> <span class="item-text" >Location</span></a></li>
                            </ul>
                      </div>
                    </div>
          
                  
          
                </div>
            </nav>
          </div> 
          
        <br>
        <br>
        <br>  
          
          
  
      
      
      
   
      
      
    
  
  
  
     
  
  
  
  