<div class="container">
    <!-- <div class="row"> -->
    <form class="navbar-form navbar-left">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="something"  [(ngModel)]="rapid"  />
        </div>
        <div class="form-group">
            <!-- <button class="btn btn-primary"> <i class="bi bi-funnel"  data-bs-toggle="modal" data-bs-target="#ModalFilterForm"></i>  </button> -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-funnel"></i>
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PlusButton">
                <i class="bi bi-plus"></i>
            </button>
        </div>
    </form>
    <!-- </div> -->
    <br />

    <div class="row">
        <div *ngFor="let x of locationList | filter: rapid" class="col-md-4 card ">
            <div class="cardno">
                <div class="country">
                    <span class="ticket">{{ x.country }}</span>
                </div>
                <div class="cardButton">

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-three-dots"></i>
                        </button>
                        <ul class="dropdown-menu" style="padding: 2px 3px; min-width: 1px !important; float: inline-start;">
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editButton" (click)="setloc(x)"><i class="bi bi-pen"></i></a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#DeleteButton" (click)="getLocationid(x.locationid)"><i color="warn" class="bi bi-trash"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="modal fade" id="DeleteButton" tabindex="-1" aria-labelledby="DeleteButtonLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="DeleteButtonLabel"> Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure to delete this LocationName?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal"
                                        (click)="('Cross click')">Cancel</button>
                                    <button type="button" class="btn btn-primary" (click)="deleteLoc()">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
           
           
            <div class="container abc">
                <p>LocationName : {{ x.locname }}</p>
                <p>locationid : {{ x.locationid }}</p>
                <p>State : {{ x.state }}</p>
                <p>ZipCode : {{ x.zipcode }}</p>
            </div>
        </div>
    </div>

    <!-- <div id="ModalFilterForm" class="modal right fade col-sm-12" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter Location</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="form-floating mb-4">
                                <select class="form-select rounded-3" name="Mode" id="Mode">
                                    <option *ngFor="let x of ticketInfo">
                                        {{ x.country }}
                                    </option>
                                </select>
                                <label for="Mode">country</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Clear
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div> -->


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="filterLocation" #flocation="ngForm" > 
                    <div class="form-floating mb-4">
                        <select class="form-select rounded-3"  id="Mode" formControlName="country">
                            <option selected>Choose...</option>
                            <option *ngFor="let x of locationList">{{ x.country }}</option>
                        </select>
                        <!-- <label for="Mode">Country</label> -->
                        <label for="inputcountry" class="form-label">Country</label>
                    </div>

                    <div class="form-floating mb-4">
                        <select class="form-select rounded-3"  id="Mode" formControlName="locationid">
                            <option selected>Choose...</option>
                            <option *ngFor="let x of locationList">{{ x.locationid }}</option>
                        </select>
                        <!-- <label for="Mode">LocationId</label> -->
                        <label for="inputLocationid" class="form-label">locationid</label>
                    </div>
                    <div class="form-floating mb-4">
                        <select class="form-select rounded-3"  id="mode" formControlName="state">
                            <option selected>Choose...</option>
                            <option *ngFor="let x of locationList">{{ x.state }}</option>
                        </select>
                        <!-- <label for="mode">State</label> -->
                        <label for="inputstate" class="form-label">state</label>
                    </div>
                    <div class="form-floating mb-4">
                        <select class="form-select rounded-3"  id="mode" formControlName="locname">
                            <option selected>Choose...</option>
                            <option *ngFor="let x of locationList">{{ x.locname }}</option>
                        </select>
                        <!-- <label for="mode">LocationName</label> -->
                        <label for="inputLocationName" class="form-label">LocationName</label>
                    </div>
                    <div class="form-floating mb-4">
                        <select class="form-select rounded-3"  id="mode" formControlName="zipcode">
                            <option selected>Choose...</option>
                            <option *ngFor="let x of locationList">{{ x.zipcode }}</option>
                        </select>
                        <!-- <label for="mode">Zipcode</label> -->
                        <label for="inputZipcode" class="form-label">Zipcode</label>
                    </div>

                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Clear
                    </button>
                    <button type="button" class="btn btn-primary"  (click)="filterloc(flocation)">Search</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="PlusButton" tabindex="-1" aria-labelledby="PlusButtonLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="PlusButtonLabel">Add New Location</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addLocation" #locations="ngForm" (ngSubmit)="addLoc(locations)" >
                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="country" id="country" placeholder="Country" formControlName="country" >
                        <label for="country" > Country</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="locationid" id="locationid" placeholder="locationid" formControlName="locationid" >
                        <label for="country"> Location Id</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="state" id="state" placeholder="State" formControlName="state" >
                        <label for="state"> State</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="LocationName" id="LocationName" placeholder="Location" formControlName="locname" >
                        <label for="LocationName"> Location Name</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="zipcode" id="zipcode" placeholder="zipcode" formControlName="zipcode" >
                        <label for="zipcode"> ZipCode</label>
                    </div>
                </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  (click)="addLoc(locations)">Submit</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="editButton" tabindex="-1" aria-labelledby="editButtonLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editButtonLabel">Edit Location</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editLocation" #editform="ngForm"  >
                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="country" id="country" placeholder="Country" formControlName="country" >
                        <label for="country" class="form-label"> Country</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="locationid" id="locationid" placeholder="locationid" formControlName="locationid" >
                        <label for="country" class="form-label"> Location Id</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="state" id="state" placeholder="State" formControlName="state" >
                        <label for="state"> State</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="LocationName" id="LocationName" placeholder="Location" formControlName="locname" >
                        <label for="LocationName" class="form-label"> Location Name</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input class="form-control" type="text" name="zipcode" id="zipcode" placeholder="zipcode" formControlName="zipcode" >
                        <label for="zipcode" class="form-label"> ZipCode</label>
                    </div>
                </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="edit(editform)" >Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>
