.hrText {
    text-align: center;
}
.hdr {
    background-color: lightblue;
    
    
}

.adjust{
    height: 5%;
}
.padLeft {
    padding-left: 0% !important;
    margin-left: 4%;
}
.cancelBtn , .saveBtn, .submitBtn {
display: inline;
}
.accordion-body {
    background-color: aliceblue;
      
}

.inline1, .inline2 {
    display: inline;
}
#managerApprove {
  
    margin-left: 2%;
}