<div class="container">
    



    <form [formGroup]="editTicketFormGroup">
    
        <nav aria-label="breadcrumb" class="mt-2">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit request</li>
            </ol>
          </nav>
    
        <div style="float: right;" class="m-2">
            <label class="col-md-5 col-sm-12" for="ticketNumber">Ticket Number</label>
            <input class="col-md-6" style="margin-left: 10px;" formControlName="ticketNumber">
        </div>
        <div class="accordion" id="accordionExample">
    
            <div class="accordion-item ">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button hdr" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        General Information
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="generalInfo">
                            <div class=" row justify-content-evenly">
                                <div class="form-floating form-inline mb-3 col-md-3 ">
                                    <input class="form-control " id="empID" formControlName="empID">
                                    <label for="empID">Emp ID</label>
                                </div>
                                <div class="form-floating mb-3 col-md-3">
                                    <input type="date" class="form-control" id="createdOn" name="Created" formControlName="createdOn"
                                        placeholder="Created On" [(ngModel)]="setCreated">
                                    <label for="createdOn">Created On</label>
                                </div>
                            </div>
                            <div class=" row justify-content-evenly">
                                
                                
                                <div class="form-floating mb-3 col-md-3 ">
                                    <input class="form-control " id="SME_Assigned" formControlName="SME_Assigned">
                                    <label for="SME_Assigned">SME Assigned</label>
                                </div>
    
                                
                                <div class="form-floating mb-3 col-md-3 ">
                                    <input class="form-control " id="approverName" formControlName="approverName">
                                    <label for="approverName">Approver Name</label>
                                </div>
                            </div>
                              
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed hdr" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Change Request Details
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class=" row justify-content-evenly">
                           
                            <div class="mb-3 col-md-3">
                                <label class="mb-2" for="type">Type</label>
                                <select #type (change) = "typeResponse(type.value)" id="type" class="form-control" formControlName="type">
                                    
                                    <option *ngFor="let type of typeList" value="{{type.listdtlcode}}">{{type.listdtlcode}}</option>
                                    
                                  </select>
                                  
                            </div>
                            
                            <div class="mb-3 col-md-3">
                                <label class="mb-2" for="Priority">Priority</label>
                                <select id="Priority" class="form-control " formControlName="priority">
                                    
                                    <option value="Critical" hidden>Critical</option>
                                    <option *ngFor="let priority of priorityList" value="{{priority.listdtlcode}}">{{priority.listdtlcode}}</option>
                                    
                                  </select>
                            </div>
                        </div>
                        <div class=" row justify-content-evenly">
                            <div class="mb-3 col-md-3">
                                <label class="mb-2" for="Device">Select Device Type</label>
                                <select id="Device" class="form-control " formControlName="selectDevice">
                                    
                                    <option *ngFor="let DeviceType of deviceTypeList" value="{{DeviceType.listdtlcode}}">{{DeviceType.listdtlcode}}</option>
                                    
                                  </select>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label class="mb-2" for="site">Site Name</label>
                                <select id="site" class="form-control " formControlName="siteName">
                                   
                                    <option *ngFor="let Site of siteNameList" value="{{Site.locname}}">{{Site.locname}}</option>
                                    
                                  </select>
                            </div>
                        </div>
                        <div class=" row justify-content-evenly">
                            <div class="mb-3 col-md-3">
                                <label class="mb-2" for="Devices">Devices</label>
                                <select id="Devices" class="form-control " formControlName="devices">
                                   
                                    <option *ngFor="let Device of deviceList" value="{{Device.listdtlcode}}">{{Device.listdtlcode}}</option>
                                    
                                  </select>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label class="mb-2" for="Location">Location</label>
                                <select id="Location" class="form-control " formControlName="location">
                                    
                                    <option *ngFor="let Location of locationList" value="{{Location.locname}}">{{Location.locname}}</option>
                                    
                                  </select>
                            </div>
                        </div>
                        <div class=" row justify-content-evenly">
                            <div class="form-floating mb-3 col-md-3 ">
                                <input type="time" class="form-control " id="implementTime"
                                    formControlName="implementTime" placeholder="implementTime">
                                <label for="implementTime">Implement Time</label>
                            </div>
                            <div class="form-floating mb-3 col-md-3">
                                <input type="date" class="form-control" id="scheduledDate"
                                    formControlName="scheduledDate" placeholder="scheduledDate" [(ngModel)]="setScheduleDate">
                                <label for="scheduledDate">Scheduled Date</label>
                            </div>
                        </div>
                        <div class=" row justify-content-evenly">
                            <div class="mb-3 col-md-3">
                                <select class="form-control " formControlName="requestStatus" >
                                   
                                    <option *ngFor="let RequestStatus of RequestStatusList" value="{{RequestStatus.listdtlcode}}">{{RequestStatus.listdtlcode}}</option>
                                    
                                  </select>
                            </div>
                            <div class=" col-md-3">
    
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingPlanning">
                    <button class="accordion-button collapsed hdr" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsePlanning" aria-expanded="false" aria-controls="collapsePlanning">
                        Planning
                    </button>
                </h2>
                <div id="collapsePlanning" class="accordion-collapse collapse" aria-labelledby="headingPlanning"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
    
                        <div class="row mt-4 justify-content-center">
                            <label class="col-md-2 align-self-center" for="businessJustification">Business
                                Justification</label>
                            <textarea class="col-md-8 " name="businessJustification" rows="3" cols="50"
                                formControlName="businessJustification"></textarea>
                        </div>
                        <div class="row mt-4 justify-content-center">
                            <label class="col-md-2 align-self-center" for="CMRdescre">CMR Description</label>
                            <textarea class="col-md-8 " name="CMRdescre" rows="3" cols="50"
                                formControlName="CMRdescre"></textarea>
                        </div>
                        <div class="row mt-4 justify-content-center">
                            <label class="col-md-2 align-self-center" for="riskImpact">Risk/Impact</label>
                            <textarea class="col-md-8 " name="riskImpact" rows="3" cols="50"
                                formControlName="riskImpact"></textarea>
                        </div>
                        <div class="row mt-4 justify-content-center">
                            <label class="col-md-2 align-self-center" for="actionPlan">Action Plan</label>
                            <textarea class="col-md-8 " name="actionPlan" rows="3" cols="50"
                                formControlName="actionPlan"></textarea>
                        </div>
                        <div class="row mt-4 justify-content-center">
                            <label class="col-md-2 align-self-center" for="rollbackPlan">Roll-back Plan</label>
                            <textarea class="col-md-8 " name="rollbackPlan" rows="3" cols="50"
                                formControlName="rollbackPlan"></textarea>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed hdr" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Note
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row justify-content-center">
                            <label class="col-md-11" for="note">Please Mention Relevant Incident or Problem Number
                                Triggering the
                                Change</label>
                            <textarea class="col-md-10 mt-2 " name="note" rows="3" cols="50"
                                formControlName="note"></textarea>
    
                        </div>
                        
    
                        <div class="form-check form-switch padLeft mt-2 mb-2 col-md-11">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Do you need to take a
                                backup of the server / Network device configuration before the
                                change?</label>
    
                            <input style="float: right;" (click)="getCheckboxResponse1()" class="form-check-input"
                                type="checkbox" id="flexSwitchCheckDefault" [checked]="backupIsSet" [disabled]="someone">
    
                        </div>
                        <div *ngIf="backupDate" class="mt-2 padLeft">
    
                            <div class="mb-2 ">
                                <label for="">Please mention when the backup will be taken</label>
                            </div>
                            <div class="form-floating mb-3 col-md-3">
    
                                <input type="date" class="form-control" id="backupDate" formControlName="backupDate"
                                    placeholder="backupDate" [(ngModel)]="setBackupDate">
                            </div>
    
                        </div>
    
    
                        <div class="form-check form-switch padLeft mt-2 col-md-11">
                            <label class="form-check-label" for="flexSwitchCheckDefault1">Is there any downtime
                                involved for end-users ?</label>
                            <input style="float: right;" (click)="getCheckboxResponse2()" class="form-check-input"
                                type="checkbox" id="flexSwitchCheckDefault1" [checked]="notifySet" [disabled]="someone" >
                            
                        </div>
                        <div *ngIf="notifyEndUser" class="mt-2 padLeft">
    
                            <div class="mb-2 ">
                                <label for="notifyEndUser">If yes, when will you send a notification to end-users?</label>
                            </div>
                            <div class="form-floating mb-3 col-md-3">
    
                                <input type="date" class="form-control" id="notifyEndUser"
                                    formControlName="notifyEndUser" placeholder="notifyEndUser" [(ngModel)]="setNotifyDate">
                            </div>
    
                        </div>
    
                        <div *ngIf="emergenc" class="mt-2 padLeft">
    
                            <div class="mb-2">
                                <label for="">Please mention the date when verbal approval was taken from the change approver</label>
                            </div>
                            <div class="form-floating mb-3 col-md-3">
    
                                <input type="date" class="form-control" id="backupDate" formControlName="verbalApproval"
                                    placeholder="backupDate" [(ngModel)]="setApprovalDate">
                            </div>
    
                            <div class="mb-2 ">
                                <label for="">You must attach an E-Mail sent to change approver on the ticket. Has it been done?</label>
                            </div>
                            <div class="col-md-3">
                                <select id=""  class="form-control mt-2 mb-2" formControlName="AttachEmail">
                                    <option  value="1">Yes</option>
                                    <option  value="0">No</option>
                                    
                                  </select>
                            </div>
    
                        </div>
    
                        <div *ngIf="manager" class="mt-2 padLeft">
                            <label for="managerApprove">Would you like to approve or reject</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <select #mgrResponse (change) = "managerResponse(mgrResponse.value)" id="managerApprove" class="form-control mt-2 mb-2" formControlName="mgrAppr">
                                        <option value="Manager Approved" >Approve</option>
                                        <option  value="Manager Rejected">Reject</option>
                                        
                                      </select>
                                </div>
                            </div>
                                                          
                           
                        </div>
                        <div  *ngIf="managerReject" class="row justify-content-center mb-2 mb-2">
                            <label class="col-md-11" for="note">Please mention the reason for rejection</label>
                            <textarea class="col-md-10 mt-2 " name="note" rows="3" cols="50"
                                formControlName="mgrReje"></textarea>
    
                        </div>
                        <div *ngIf="CABmanager" class="mt-2 padLeft">
                            <label for="managerApprove">Would you like to approve or reject</label>
                            <div class="row">
                                <div class="col-md-3">
                                    <select id="managerApprove" #cabResponse (change) = "CABresponse(cabResponse.value)" class="form-control mt-2 mb-2" formControlName="cabmgr">
                                        <option  value="CAB Approved">Approve</option>
                                        <option  value="CAB Rejected">Reject</option>
                                        
                                      </select>
                                </div>
                            </div>
                                                          
                           
                        </div>
                        <div *ngIf="CABrejected" class="row justify-content-center mb-2 mb-2">
                            <label class="col-md-11" for="note">Please mention the reason for rejection</label>
                            <textarea class="col-md-10 mt-2 " name="note" rows="3" cols="50"
                                formControlName="cabReje"></textarea>
    
                        </div>
    
                        
    
                        
                            <div *ngIf="mgrRjctRsn" class="row justify-content-center">
                                <label class="col-md-11" for="note">Reason for rejection</label>
                                <textarea class="col-md-10 mt-2 " name="note" rows="3" cols="50"
                                    formControlName="mgrRejectionReason"></textarea>
        
                            </div>
    
                         
    
                        <div *ngIf="empButtons" style="float: right;" class="">
                            <div class="cancelBtn ">
                                <button type="button" class="btn btn-danger " routerLink="/dashboard" >Cancel</button>
                            </div>
                            <div class="saveBtn ">
                                <button type="button"  class="btn btn-success" style="margin-left: 10px;" routerLink="" 
                                [disabled]="!editTicketFormGroup.valid" (click)="sendDraftRequest()">Save</button>
                            </div>
                            <div class="submitBtn">
                                
                                <button class="btn btn-primary" style="margin: 10px;" routerLink="/dashboard"
                                [disabled]="!editTicketFormGroup.valid"  (click)="sendNewRequest()">Submit</button>
                            </div>
                        </div>
                        <div *ngIf="enablemgrButtons" style="float: right;" class="">
                            <div class="cancelBtn ">
                                <button type="button" class="btn btn-danger " routerLink="/dashboard">Cancel</button>
                            </div>
                            <div class="saveBtn " >
                                <button hidden type="button" class="btn btn-success" style="margin-left: 10px;">Save</button>
                            </div>
                            <div class="submitBtn">
                               
                                <button class="btn btn-primary" style="margin: 10px;" routerLink="/dashboard"
                                [disabled]="!editTicketFormGroup.valid"  (click)="sendmgrResponse()">Submit</button>
                            </div>
                        </div>
                        <div *ngIf="enableCABbuttons" style="float: right;" class="">
                            <div class="cancelBtn ">
                                <button type="button" class="btn btn-danger " routerLink="/dashboard">Cancel</button>
                            </div>
                            <div class="saveBtn ">
                                <button hidden type="button" class="btn btn-success" style="margin-left: 10px;">Save</button>
                            </div>
                            <div class="submitBtn">
                                
                                <button class="btn btn-primary" style="margin: 10px;" routerLink="/dashboard"
                                [disabled]="!editTicketFormGroup.valid"  (click)="SendCabManagerResponse()">Submit</button>
                            </div>
                        </div>
                        <div *ngIf="close" style="float: right;" class="">
                            <div class="cancelBtn ">
                                <button type="button" class="btn btn-danger " routerLink="/dashboard">Cancel</button>
                            </div>
                            <div class="saveBtn " >
                                <button hidden type="button" class="btn btn-success" style="margin-left: 10px;">Save</button>
                            </div>
                            <div class="submitBtn">
                               
                                <button class="btn btn-primary" style="margin: 10px;" data-bs-toggle="modal" data-bs-target="#closeTicketPop" 
                                    >Close Ticket  </button>
                            </div>
                        </div>
                        <div *ngIf="mgrRejBtns" style="float: right;" class="">
                            <div class="cancelBtn ">
                                <button type="button" class="btn btn-danger "  data-bs-toggle="modal" data-bs-target="#closeTicketPop">Close Ticket </button>
                            </div>
                            <div class="saveBtn ">
                                <button type="button"  class="btn btn-success" style="margin-left: 10px;" routerLink="/dashboard"
                                [disabled]="!editTicketFormGroup.valid" (click)="sendDraftRequest()">Save</button>
                            </div>
                            <div class="submitBtn">
                                
                                <button class="btn btn-primary" style="margin: 10px;" routerLink="/dashboard"
                                [disabled]="!editTicketFormGroup.valid"  (click)="sendNewRequest()">Submit</button>
                            </div>
                        </div>
                        <div>
                           <br>
                           <br>
                           <br>
                        </div>
    
    
                        
    
    
                    </div>
    
                </div>
            </div>
    
        </div>
    </form>
    </div>
    
    <div class="modal fade" id="closeTicketPop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form [formGroup]="CABFormGroup">
            <div class="modal-header">
                
              <h1 class="modal-title fs-5" id="exampleModalLabel">Close Ticket</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure , you want to close ticket CMR-{{ticketDetails[0].requestid}} ?
            </div>
            <label class="text">Mention issue has been resolved or not</label>
            <textarea class="cabapprove" name="note" rows="3" cols="50"
            formControlName="cabapprove"></textarea>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" routerLink="/dashboard" [disabled]="!CABFormGroup.valid" (click)="closeTicket()">Close Ticket</button>
            </div>
        </form>
          </div>
        </div>
      </div>