<div  class="container">
    

    <div class="Searchbuttons mt-2">
        <div class="row justify-content-end col-sm-12">
            <div class="col-md-5"></div>
            <div class="col-md-5">
                <input class="search-form form-control" type="text" name="search" autocomplete="off"
                    placeholder="Search Tickets" [(ngModel)]="searchValue">
            </div>
            <div class="col-md-1">
                <button type="button" class="filter btn btn-lg " data-bs-toggle="modal" (click)="setFilteredValues()"
                    data-bs-target="#ModalFilterForm">
                    <i class="fa fa-filter" aria-hidden="true" data-bs-toggle="tooltip" title="Filter Courses"
                        data-bs-placement="bottom"></i>
                </button>
            </div>
            <button type="button" class="add-course btn btn-lg " routerLink="/new_request">
                <i class="fa fa-plus" aria-hidden="true" data-bs-toggle="tooltip" title="Add New Course"
                  data-bs-placement="right"></i>
              </button>
        
        </div>

    </div>

   


    <div id="ModalFilterForm" class="modal right fade col-sm-12" tabindex="-1">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter Tickets</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="searchFormGroup">
                        <div class="form-group">
                            <div class="form-floating mb-4">
                                <select class="form-select rounded-3" formControlName="changeType" name="Mode"
                                    id="Mode">
                                    <option *ngFor="let type of typeList" value = {{type.listdtlcode}}>{{type.listdtlcode}}</option>
                                </select>
                                <label for="Mode">Change Type</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-floating mb-4">
                                <select class="form-select rounded-3" formControlName="priority" name="Priority"
                                    id="Priority">
                                    <option  *ngFor="let priority of priorityList" value="{{priority.listdtlcode}}" >{{priority.listdtlcode}}</option>
                                </select>
                                <label for="Priority">Priority</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-floating mb-4">
                                <select class="form-select rounded-3" formControlName="status" name="Status"
                                    id="Status">
                                   
                                    <option *ngFor="let status of reqStatusList" value="{{status.listdtlcode}}" >{{status.listdtlcode}}</option>
                                </select>
                                <label for="Status">Status</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-floating mb-4">
                                <select class="form-select rounded-3" formControlName="deviceType" name="Device"
                                    id="Device">
                                    <option *ngFor="let DeviceType of deviceTypeList" value="{{DeviceType.listdtlcode}}">{{DeviceType.listdtlcode}}</option>
                                </select>
                                <label for="Device">Device Type</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearForm()">Clear</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="filterRecords()">Search</button>
                </div>
            </div>
        </div>
    </div>



  

    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col" *ngFor="let ticket of tickets | filter:searchValue">
            <div>
                {{enableDisbaleEdit(ticket.createdby,ticket.reqstatus,ticket.approveremail ,ticket.status )}}
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>
                        <strong  >CMR-{{ticket.requestid}} </strong>
                    </h5>
                    
                    <div class="dropdown">
                        <button class="more btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" >
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </button>
                        <ul *ngIf="edit" class="dropdown-menu"
                            style="padding: 2px 3px; min-width: 1px !important; float: inline-start">
                            <li class="button">
                                <button  class="btn dropdown-item dropbutton" (click)="sendTicketIdToService(ticket.requestid)" routerLink="/edit_request">
                                    <i class="fa fa-edit" aria-hidden="true" data-bs-toggle="tooltip" title="Edit"
                                        data-bs-placement="bottom" ></i>
                                </button>
                            </li>

                            
                        </ul>
                    </div>

                </div>
                <div class="card-body">
                   
                    <div class="row">
                        <strong class="col-md-5" for="">Change Type:</strong> <span
                            class="col-md-7">{{ticket.type}}</span>
                    </div>
                    <div class="row">
                        <strong class="col-md-5" for="">Created By:</strong> <span
                            class="col-md-7">{{ticket.createdby}}</span>
                    </div>
                    <div class="row">
                        <strong class="col-md-5" for="">Priority:</strong> <span
                            class="col-md-7">{{ticket.priority}}</span>
                    </div>
                    <div class="row">
                        <strong class="col-md-5" for="">Device Type:</strong> <span
                            class="col-md-7">{{ticket.devicetype}}</span>
                    </div>
                    <div class="row">
                        <strong class="col-md-5" for="">Created Date:</strong> <span
                            class="col-md-7">{{ticket.createddate}}</span>
                    </div>
                    <div class="row">
                        <strong class="col-md-5" for="">Approver Name:</strong> <span
                            class="col-md-7">{{ticket.approveremail}}</span>
                    </div>
                    <div class="row">
                        <strong class="col-md-5" for="">Status:</strong> <span class="col-md-7">{{ticket.reqstatus}}</span>
                    </div>
                    <div class="row">
                        <strong class="col-md-5" for="">Ticket Status:</strong> <span
                            class="col-md-7">{{ticket.status}}</span>
                    </div>

                    

                </div>
            </div>
        </div>
    </div>

   

</div>